body {
  font-family: Arial;
  background: #111;
  color: white;
}

.tools {
  display: flex;
  gap: 20px;
}

.tool-card {
  background: #222;
  padding: 10px;
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
}

.tool-card img {
  width: 100%;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.hidden {
  display: none;
}

.popup-content {
  width: 80%;
  height: 80%;
  background: white;
  margin: 5% auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
